# starter4a/example

[s4jer]
    trees = main,test

[tree "main"]
    package=com.bitwormhole.starter4android.example.res.m
    res=src/main/res-embedded
    code=src/main/java

[tree "test"]
    package=com.bitwormhole.starter4android.example.res.t
    res=src/test/res-embedded
    code=src/test/java
